/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visual (efectos y todo para que se vea bien)
5. Otros
*/

:root{
    /* Definir variables por ahora solo Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
/* Estilos base para el html*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{ /*Dimenciones y centrado del logo*/
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;         /*Define el ancho*/
    min-width: 288px;
    max-width: 900px;
    height: 218px;      /*Define la Altura*/
    margin-top: 40px;
    text-align: center;  /*alineacion en el centro del texto*/
    align-self: center;  /*alineacion en el centro con display flex*/
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);  
}
.header--title-container p{
    margin-top: 25px;       /*Margen en la parte superior*/
    font-size: 1.4rem;      /*Tamaño de letra*/
    font-weight: 500;       /*Grosor de la letra*/
    line-height: 1.8rem;    /*Espacio entre el interlineado*/
    color: var(--soft-orange);  /*Color de la letra*/
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black)
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}


