/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visual (efectos y todo para que se vea bien)
5. Otros
*/

:root{
    /* Definir variables por ahora solo Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
/* Estilos base para el html*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;;
}
.main-product-detail{
    top: 15px;
    position: relative;
    width: 100%;
    min-width: 320px; 
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black) ;
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-repeat: no-repeat;
    background-image: url("../assets/icons/batata.svg");
}
.product-detail-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.product-detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:  var(--blackblack);
    border-radius: 5px;
    box-shadow: 0 4px 0 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon-card{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.product-detail--card .clock{    
    background-image: url("../assets/icons/clock1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product-detail--card .eye{    
    background-image: url("../assets/icons/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product-detail--card .dolar{    
    background-image: url("../assets/icons/dollar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product-detail--card .check{    
    background-image: url("../assets/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.produt--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
